body,
p,
h1,
h2,
h3,
h4,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.mistakes, .speed, .time {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 1020px;
  height: 595px;
  margin: 0 auto;
}
.container .upperSide {
  display: flex;
  flex-direction: row;
}

.upperSide {
  overflow: hidden;
}
.upperSide__centerField {
  margin: 20px;
  position: relative;
  width: 580px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
}
.upperSide__rightField {
  margin: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 180px;
}
.upperSide__leftField {
  margin: 20px;
  width: 180px;
}

.fingerList {
  position: relative;
  padding: auto 0;
}
.fingerList__item {
  list-style: none;
  padding-top: 10px;
  color: #777;
}

.finger {
  display: inline-block;
  position: relative;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 6px;
}
.finger:hover {
  filter: brightness(105%);
}
.finger__color--pinky {
  background-color: #f4b3c2;
}
.finger__color--ring {
  background-color: #fdcf8c;
}
.finger__color--middle {
  background-color: #bcdd9c;
}
.finger__color--indexLeft {
  background-color: #a3dce0;
}
.finger__color--indexRight {
  background-color: #aec6e0;
}
.finger__color--thumb {
  background-color: #d2b4de;
}

.progressLine {
  padding: 10px 5px;
  height: 45px;
  border-bottom: 1px solid #e2e2e2;
  color: #555;
}
.progressLine__caption {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.progressLine__indicator {
  position: relative;
  margin-top: 10px;
  height: 5px;
  background-color: #AAA;
  border-radius: 2.5px;
}
.progressLine__indicator--past {
  box-sizing: border-box;
  width: 0%;
  position: absolute;
  border-radius: 2.5px;
  background-color: #61ad24;
  height: 5px;
  z-index: 2;
}

.textWrapper {
  position: relative;
  height: 160px;
  padding: 10px 15px;
  overflow: scroll;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 2px;
  font-family: "Cousine", "Courier New", Courier, monospace;
}

.statistic {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 14px;
  color: #555;
  font-size: 12px;
}

.time__result {
  font-size: 18px;
}

.speed__result--value {
  font-size: 18px;
}

.mistakes__result--value {
  font-size: 18px;
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px;
  height: 38px;
  padding: 5px 5px;
  background-color: #e2e2e2;
  border-radius: 5px;
}
.menu__list {
  width: 380px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.menu__item {
  position: relative;
  list-style: none;
}
.menu__img {
  cursor: pointer;
  width: 38px;
  height: 29px;
}
.menu__imgDisactive {
  position: absolute;
  top: 20px;
  left: 26px;
  width: 15px;
  height: 15px;
  display: none;
}
.menu__imgDisactive.on {
  display: block;
  cursor: pointer;
}
.menu__Keyboard {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu__laptop {
  position: relative;
  left: -58px;
  display: flex;
  flex-direction: row;
}
.menu__pc {
  position: relative;
  left: -38px;
  display: flex;
  flex-direction: row;
}

.keyboard {
  margin: 10px 20px;
}
.keyboard__row {
  display: flex;
  flex-direction: row;
}

.key {
  height: 38px;
  width: 38px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  color: #555;
  font-family: Arial, Arial, Helvetica, sans-serif;
  margin-left: 2px;
  margin-top: 2px;
}
.key[data-shifted=true] .key__main {
  margin-left: 8px;
  margin-top: 2px;
  font-size: 16px;
}
.key[data-shifted=true] .key__shift {
  margin-left: 8px;
  font-size: 11px;
}
.key[data-shifted=false] {
  display: flex;
  align-items: center;
  justify-content: center;
}
.key__textInside .key__main {
  font-size: 11px;
  color: #999;
  margin: 0;
}
.key[data-key=BACKSPACE] {
  width: 60px;
}
.key[data-key=INSERT] {
  margin-left: 20px;
}
.key[data-key=NUMLOCK] {
  margin-left: 20px;
}
.key[data-key=TAB] {
  width: 60px;
}
.key[data-key=DELETE] {
  margin-left: 20px;
}
.key[data-key=NUMPAD7] {
  margin-left: 20px;
}
.key[data-key=NUMPAD4] {
  margin-left: 164px;
}
.key[data-key=CAPSLOCK] {
  width: 70px;
}
.key[data-key=ENTER] {
  width: 70px;
}
.key[data-key=ADD] {
  position: absolute;
}
.key[data-key=SHIFT] {
  width: 91px;
}
.key[data-key=UP] {
  margin-left: 62px;
}
.key[data-key=NUMPAD1] {
  margin-left: 62px;
}
.key__fake {
  position: relative;
  width: 38px;
}
.key__fake .key {
  position: absolute;
  width: 38px;
  height: 79px;
}
.key[data-key=CONTROL] {
  width: 60px;
}
.key[data-key=SPACE] {
  width: 310px;
}
.key[data-key=LEFT] {
  margin-left: 20px;
}
.key[data-key=NUMPAD0] {
  margin-left: 20px;
  width: 80px;
}
.key.next {
  border: 1px solid red;
}

.currentLetter {
  background-color: #000;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
